In [ ]:
# 1. Crear la clase Octal
#    Esta clase maneja los números cuyos dígitos van desde 0 hasta 7
#    La base es 8
#    Los números de tipo Octal solamente pueden tener los dígitos:
#    0, 1, 2, 3, 4, 5, 6, 7

class Octal:
  pass              # por ahora pasamos 

a = Octal()

In [ ]:
# 2. Crear un constructor con un mensaje

class Octal:
  def __init__ (self):    # __init__ es el constructor
    print("Este es el constructor")

a = Octal()

Este es el constructor

In [ ]:
# 3. Modificar el constructor para que reciba el número en Octal

class Octal:
  def __init__ (self, dato):
    self.dato = dato

a = Octal("37401")
print ( a.dato )

37401

In [ ]:
# 4. Crear un método (función) para mostrar el contenido del objeto

class Octal:
  def __init__ (self, dato):
    self.dato = dato
  def string( self ):
    print(self.dato)

a = Octal("37401")
a.string()

37401

In [ ]:
# 5. Convertir la cadena que almacena el Octal, en una lista de strings ('')

class Octal:
  lista_octal = []

  def __init__ ( self, cadena_octal ):
    self.cadena_octal = cadena_octal
    self.lista_octal = list( self.cadena_octal )
  def string( self ):
    print( self.cadena_octal )
    print( self.lista_octal )

a = Octal( "37401" )
a.string()

37401
['3', '7', '4', '0', '1']

In [ ]:
# 6. Convertir la lista de strings en una lista de enteros

class Octal:
  lista_octal = []

  def __init__ ( self, cadena_octal ):
    self.cadena_octal = cadena_octal
    self.lista_octal = list( self.cadena_octal )

    i = 0
    for dato in self.lista_octal:
      self.lista_octal[i] = int(dato)
      i = i + 1

  def string( self ):
    print( self.cadena_octal )
    print( self.lista_octal )

a = Octal( "37401" )
a.string()

37401
[3, 7, 4, 0, 1]

In [ ]:
# 7. Invertir la lista para que coincida con los octales en metamáticas

class Octal:
  lista_octal = []

  def __init__ ( self, cadena_octal ):
    self.cadena_octal = cadena_octal
    self.lista_octal = list( self.cadena_octal )

    i = 0
    for dato in self.lista_octal:
      self.lista_octal[i] = int(dato)
      i = i + 1

    self.lista_octal = list(reversed(self.lista_octal))

  def string( self ):
    print( self.cadena_octal )
    print( self.lista_octal )

a = Octal( "37401" )
a.string()

37401
[1, 0, 4, 7, 3]

In [ ]:
# 8. Crear una función para encontrar el valor decimal del octal

class Octal:
  base = 8
  lista_octal = []

  def __init__ ( self, cadena_octal ):
    self.cadena_octal = cadena_octal
    self.lista_octal = list( self.cadena_octal )

    i = 0
    for dato in self.lista_octal:
      self.lista_octal[i] = int(dato)
      i = i + 1

    self.lista_octal = list(reversed(self.lista_octal))

  def decimal( self ):
    numero_decimal = 0
    i = 0
    for dato in self.lista_octal:
      numero_decimal += self.base**i * self.lista_octal[i]
      i = i + 1
    return numero_decimal

  def string( self ):
    print( self.cadena_octal )
    print( self.lista_octal )

a = Octal( "37401" )
a.string()
print( a.decimal() )

37401
[1, 0, 4, 7, 3]
16129